@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    padding: 0;margin: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Poppins', sans-serif;
}
body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-size: 1.6rem;
    width: 70%;
    margin: auto auto;
    transition: background 0.3s linear, color 0.3s linear;
}
.box {
    top: 20px;
    position: fixed;
    right: 20px;

}

label {
    background-color: black;
    height: 50px ;
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s linear
}
body.dark label {
    background-color: white;
}
#toggle {
    visibility: hidden;
}
.dark {
    background-color: black;
    color: white;
}